.back-button2 {
    margin: 20px;
    padding: 8px;
    border: 1px;
    border: 1px dotted rgba(0, 128, 128, 0.378);
    border-radius: 5px;
    font-family: "Source Sans 3", serif;
    font-size: small;
    cursor: pointer;
    background-color: teal;
}

.back-button2:hover {
    background-color: rgb(0, 88, 88);
}

section {
    padding: 10px;
}
.header {
    text-align: center;
    font-size: 40px;
    font-family: "Source Sans 3", serif;
    color: teal;
}
.p1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Source Sans 3", serif;
    color: teal;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 3px;
    font-family: "Source Sans 3", serif;
}
.h2 {
    width: 100%;
    text-align: center;
    color: teal;
}
      
.team-member {
    flex: 1 1 calc(10% - 2rem);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}
      
h3 {
    color: rgb(0, 128, 128);
    font-size: 20px;
    font-family: "Source Sans 3", serif;
}
h3 :hover {
    background-color: rgb(0, 88, 88);
}
      
p {
    color: #fafafa;
    font-family: "Source Sans 3", serif;
}
.contact {
    color: rgb(120, 120, 231)
}
.contact :hover {
    background-color: rgb(0, 88, 88);
}