.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Source Sans 3", serif;
    animation: fadeIn 4s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    text-align: center;
    font-size: 40px;
    font-family: "Source Sans 3", serif;
    color: teal;
}

.card {
    margin: 20px;
    min-height: 600px;
}

.saved-button {
    background-color: teal;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

.saved-button:hover {
    background-color: rgb(0, 89, 89);
}

.welcome {
    font-size: 100px;
    text-align: center;
    font-family: "Source Sans 3", serif;
    color: teal;
    margin-top: 90px;
    animation: fadeInOut 4s ease-in-out forwards;
    text-decoration: underline;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.user {
    display: inline;
    position: relative;
    top: 15px;
    padding-left: 10px;
    color: teal;
    font-family: "Source Sans 3", serif;
}

.logout {
    background-color: rgb(211, 211, 211);
    color: rgb(31, 31, 31);
    margin-top: 25px;
    margin-left: 20px;
}

.logout:hover {
    background-color: rgb(170, 29, 29);
    color: rgb(182, 178, 178);
}

.slider {
    padding: 40px;
    height: 300px;
    position: relative;
}

.radius-button {
    background-color: teal;
    color: white;
}

.css-1jq15tx {
    margin-left:35px;
    display: block;
    padding-top: 10px;
}

.css-ddg38 {
    padding: 40px 40px;
}

.collapse {
    margin: 40px;
    cursor: pointer;
    color: teal;
    border-radius: 20px;
}

.collapse:hover {
   color: rgb(174, 174, 47);
}

.css-1mckma8 {
    border-width: 1px;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    z-index: 1;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    font-family:"Source Sans 3", serif; ;
}

.css-z8obd9 {
    max-width: 200px;
    margin-bottom: 10px;
}


/* Ensure that the slider and logo don't overlap on small screens */
@media (max-width: 480px) {
    /* Adjust padding to create more space */
    .slider {
        padding: 20px; /* Reduce padding to fit content */
        padding-top: 40px; /* Adjust top padding for better spacing */
    }

    /* Adjust the logo styling for mobile screens */
    .header {
        font-size: 28px; /* Make the header smaller */
    }

    /* Adjust the image size of the logo */
    .aline-logo {
        height: 100px; 
        margin-top: 20px; 
    }

    
    .cards-container {
        padding: 0 10px; /* Add padding on the sides*/
    }

    
    .radius-button {
        font-size: 14px; /* button text smaller */
        padding: 10px 20px; /* Reduce padding */
    }

    .user {
        display: block;
        margin-left: 15px;
    }

    .welcome {
        font-size: 40px;
        text-align: center;
        font-family: "Source Sans 3", serif;
        color: teal;
        margin-top: 90px;
        animation: fadeInOut 4s ease-in-out forwards;
        text-decoration: underline;
    }
}