.logout {
    background-color: rgba(255, 255, 255, 0.715);
    margin-top: 25px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.631)
}

.logout:hover {
    background-color: rgba(167, 0, 0, 0.715);
    color: rgba(255, 255, 255, 0.715);
}

.back-button {
    background-color: teal;
    margin-top: 25px;
    margin-left: 15px;
}

.back-button:hover {
    background-color: rgb(0, 89, 89);
}